
/*导航区域*/
.lt_main .nav {
  padding: 10px;
}
.lt_main .nav li {
  float: left;
  width: 33.3%;
}
.lt_main .nav li a {
  display: block;
}

/*商品区域*/
.lt_product {
  padding: 10px;
  text-align: center;
}
.lt_product li {
  float: left;
  width: 48%;
  margin-bottom: 10px;
  background-color: #fff;
}
.lt_product li:nth-child(odd) {
  margin-right: 4%;
}
.lt_product li a {
  display: block;
  padding: 10px;
}
.lt_product li a span:nth-child(1) {
  color: red;
}
.lt_product li a span:nth-child(2) {
  text-decoration: line-through;
}